{%extends 'main/base.html'%}
{% load static %}

{% block content %}
{{block.super}}

<!-- Page Content -->
<section class="py-5">
  <div class="container text-center">
    <h1 class="font-weight-light">THe Kaiser Awards Nominees</h1>
    <p class="lead">Welcome to Kaiser Awards where you speak yur ability to Programm and write code!<a href="#">Kaiser</a>!</p>
  </div>
</section>
      <!-- Page Content -->
<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Rate & View your Best Project!</h1>
  </div>
</header>

<!-- Page Content -->
<div class="container py-4 mt-4">

  <!-- Page Heading -->
  <h1 class="my-4 text-info display-4">Top Projects<BR/>
    <small class="text-secondary">Post with us to be Appreciated by other Developers and Public</small>
  </h1>
	<p class="lead ">OTHER top Destination</p>
<button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Miami</button>
<button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Moshi</button>
<button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Dar es salaam</button>
<button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Arusha</button>
<button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Penckin</button>


  <div class="row mt-4">
      {% for award in awards %}

      <!-- main content -->
    <div class="col-lg-3">
      <div class="card shadow border-0 h-100">
        <a href="#"><img src="{{ award.landing_page.url}}" alt="" class="img-fluid" width="500px" height="500px"></a>
        <div class="card-body">
          <h4 class="card-title">
              {{award.title}}
          </h4>
          <p>{{award.description}}</p>
          <p><a href="http://{{award.link}}" class="btn btn-primary">Site</a><span style="padding:8px;"><a href="#" class="btn btn-primary">Vote</a></span></p>
           

        </div>
      </div>
    </div>
    <!-- end here -->

    {% endfor %}
  </div>
  
  </div>
<!-- /.container -->



<style>
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.fix-im {
    position: relative;
    bottom:11rem;
}
@media screen and (max-width:768px){
.flex-100 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.fix-im {bottom: 0rem;}
}
.ugali {
    background: black;
    padding: 6px;
}
</style>

{% endblock %}